html body {
    background-color: #f2f2f2;
    width: 1200px;
    height: 2600px;
}
body  {
    width: 1200px;
    font-family: 'PT Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* анти-алиас к шрифтам */
    
/*    box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);*/
    /* тень с одной стороны */
    margin: 0;
    /* кривой маргин ? */
}

nav > .header-menu {
    width: 100%;
    height: 56px;
}
.nav-back {
    width: 239px;
    height: 56px;
    float: left;
    text-align: center;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    
}
.nav-back-logo {
    width: 244px;
    height: 56px;
    float: left;
    background-color: #fff;
}
.logo-top {
    position: absolute;
    left: 530px;
}
/*фон с долиной седоны*/
.valley {
    width: 1200px;
    height: 800px;
    background-color: #fff;
    background-image: url(/img/background_photo.png);
    background-repeat: no-repeat;
}
/*картинка с приветствием*/
.welcome-info {
    width: 459px;
    height: 353px;
    padding: 159px 370px 288px 370px;
}
/*маска на фон*/
.mask {
    width: 1202px;
    height: 59px;
    position: absolute;
    top: 533px;
}
/*инфо блок*/
.info-sedona {
    width: 1200px;
    height: 216px;
    position: absolute;
    top: 592px;
    background-color: #fff;
    text-transform: uppercase;
    line-height: 26px;
    text-align: center;
}
.info-sedona > h1 {
    font-size: 21px;
    font-weight: 700;
    width: 440px;
    margin-top: 61px;
    margin-left: 31.666667%;
}
.cause {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-top: 19px;
}
.dc {
    width: 400px;
    height: 256px;
    float: left;
    background-color: #81b3d2;
    color: #fff;
    text-transform: uppercase;
}
.dc > h1 {
    
}