html {
    background: ;
    background-color: #f2f2f2;
    color: #333333;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    letter-spacing: 0.12px;
}
body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}
.visually-hidden {
    display: none;
}
.non-mark{
    list-style: none;
    margin: 0;
    padding: 0;
}


/*----------------кнопки на странице hotel--------------------*/
.button-more {
    padding: 7px 17px;
    background-color: #81b3d2;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.button-reserve {
    padding: 8px 17px;
    border: none;
    background-color: #766357;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.button-reserve:focus {
    outline: none;
}

/*иконки сортироки up-down*/
.arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow:focus {
    outline: none;
}

.rating-text {
    display: inline-block;
    padding: 6px 14px;
    background-color: #f2f2f2;
    color: #666666;
}

.star {
    display: inline-block;
    padding: 5px;
    width: 18px;
    height: 17px;
}
/*---------------------top menu--------------------*/
.top-menu{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.top-menu_left_items{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.top-menu_right_items{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.menu-item{
    width: 20%;
    line-height: 56px;
    white-space: nowrap;
}
.logo-wrap{
    width: 20%;
}
.logo{
    position: absolute;
    left: 530px;
    top: 0px;
}
.menu-item a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    line-height: 56px;
}
.current-menu-item a {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #766357;
    font-weight: 700;
}
/*-------------------форма с настройкой поиска-------------------------*/
.options {
    width: 1200px;
    height: auto;
    background: #81b3d2 url("../img/filter_background.jpg");
    color: #ffffff;
}

.options h3 {
    font-weight: 700;
    font-size: 16px;
}

/*--------------------hotels.html found block--------------------*/
.result {
    background-color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.result b {
    color: #000000;
}

.current-sort a{
    color: #81b3d2;
    pointer-events: none;
    cursor: default;
}

.result .type-sort a {
    border-bottom: 1px dotted #81b3d2;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.result li {
    display: inline-block;
}

/*------------Black Bold Header---------------*/
.blt-header {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.causes-header .min-description {
    margin-top: 10px;
    line-height: 26px;
}

/*-----------------offer--------------------*/
.offer {
    background-color: #ffffff;
    color: #000000;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.offer-description {
    line-height: 24px;
}

/*--------------background index-----------------*/

.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #0000ff url("../img/background_photo.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -55px;
}

.welcome-img{
    margin-top: 77px;
    align-self: center;
}
.polygon-img{
    margin-top: 22px;
}
.causes-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 43px;
    background-color: #ffffff;
}
/* первый блок с преимуществами*/
.block-cause-left {
    display: flex;
    background-color: #81b3d2;
    color: #ffffff;
    max-height: 256px;
    margin-top: 37px;
}
.block-cause-right{
    display: flex;
    flex-direction: row-reverse;
    background-color: #81b3d2;
    color: #ffffff;
    max-height: 256px;
}
.block-cause h2 {
    font-size: 21px;
}
.features{
    display: flex;
    flex-direction: column;
}
.features-header{
    width: 400px;
    text-align: center;
    margin-top: 28px;
}

.block-little-things{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.little-things-wrap{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 33.3%;
}
.little-things-item{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 89px;
}

.gray, .gray h2 {
    background-color: #eeeeee;
}

/* offer ЗАИНТЕРЕСОВАЛИСЬ карта и тд*/
.offer{
    text-align: center;
    padding-top: 14px;
    letter-spacing: -0.1px;
}
.offer-description{
    text-align: center;
    width: 420px;
    margin: 0 auto;
}
.modal{
    display: flex;
    justify-content: center;
    padding-top: 46px;
}
[type="button"]{
    width: 570px;
    height: 85px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    outline: none;
    color: #ffffff;
}
[type="button"]:hover{
    background-color: #604E43;
}
[type="button"]:active{
    background-color: #503E33;
    color: rgba(255,255,255,0.2);
}

/*---------------footer------------------*/
.footer-wrapper{
    display: flex;
    justify-content: space-around;
}
.header, .footer{
    background-color: #ffffff;
}
.contacts {
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}

.contacts a {
    color: #000000;
    text-decoration: none;
}

.copyright p {
    background-color: #ffffff;
    color: #000000;
    line-height: 26px;
}

/* социалки*/
.social-icon{
    width: 35px;
    background-color: #81B3D2;
}
.social{
    display: flex;
    align-items: center;
    width: 200px;
}
.social-wrap{
    display: flex;
    list-style: none;
}
.social-wrap li{
    text-align: center;
    align-self: center;
}
.social-wrap li:not(:last-of-type){
    margin-right: 10px;
}
.copyright{
    display: flex;
}
.copyright a{
    position: relative;
    align-self: center;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    margin-left: 10px;
}
.copyright img:hover{
    color: #65B4D4;
}
.copyright a:before{
    content: "WEBSITE BY:";
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 10px;
    margin-right: 10px;
    white-space: nowrap;
}
